* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.columns, .testimonial {
  display: flex;
  justify-content: center;
}

section {
  clear:both;
  padding: 50px 138px;
}

.lotus div {
  max-width:244px;
  text-align: center;
  margin: 0 auto;
}

.lotus p {
  text-align: center;
}


.columns > * {
  margin: 0 20px;
}

.columns > :first-child {
  margin: 0 auto;
}

.onefourth {
  flex-grow: 1
}

.threefourths {
  flex-grow: 3
}

.alignright {
  margin-left: auto;
  margin-right: 0;
text-align: right;
  width:100%;
}

.alignright::after{
  clear:both;
}

.padv {
  padding-top: 20px;
  padding-bottom: 20px;
}

.signature {
  max-width: 100%;
  height:auto;
}

p, ul, ol, li {
    text-align: left;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(0,0,0,0.871);
  }

ul, li {
    list-style-position: inside;
}

p{
  margin-bottom: 10px;
}
h1{
  font-size: 48px;
  font-family: Arpona, sans-serif;
  font-weight: medium;
  font-style: italic;
  text-align: center;
}

h2{
  font-size: 42px;
  font-family: 'Puffin Display Soft', sans-serif;
  font-weight: lighter;
  font-style: normal;
}

h3 {
  font-family: 'Puffin Display Soft';
  font-style: normal;
  font-weight: lighter;
  font-size: 36px;
}

.lighter {
  font-weight: lighter;
}
.regular {
  font-weight: regular;
}
.semibold{
font-weight: 500;
}
.bold {
  font-weight: bold;
}

.puffin {
  font-family: 'Puffin Display Soft', sans-serif;
}

.cta {
    background-color: #FCE5E0;
    stroke: #707070;
    stroke-width: 1px;
    position: relative;
    overflow: visible;
    font-family: 'Puffin Display Soft', sans-serif;
		font-style: normal;
		font-weight: regular;
		font-size: 42px;
    box-shadow: inset 16px -17px 62px rgba(112, 112, 112, 0.12),
    0 3px 6px rgba(112, 112, 112, 0.12);
}

.testimonial {
  background-color: #FFFFFF;
  border: #707070;
  box-shadow: inset 16px -17px 62px rgba(112, 112, 112, 0.3),
  0 3px 6px rgba(112, 112, 112, 0.3);
}

.quote {
  font-family: Arpona, sans-serif;
  font-style: normal;
  font-weight: medium italic;
  font-size: 24px;
}
.person {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: lighter;
  color: rgba(0,0,0,0.871);
  font-size:24px;
}

.title {
  font-size:20px;
  font-style: italic;
}

.darkred {
  color: #9E2818;
}

.black {
  color: #707070;
}
.strikethrough {
  text-decoration: line-through;
}

.discount {
  color: #00A854;
}

.container {
  background-color: rgba(255,255,255,1);
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%);
}
.center {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .columns, .testimonial {
    flex-direction: column;
  }
  .columns > :first-child {
    margin: auto;
  }
  .columns > * {
    margin: 0;
  }
  section {
    padding: 25px 20px 25px 20px;
  }
  h1{
    font-size: 42px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }

  p, ul, ol, li {
    font-size: 24px;
  }
}
