* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

.darkred {
  color: #9E2818;
}

.container {
  background-color: rgba(255,255,255,1);
  left: 50%;
  transform-origin: 0 0;
  transform: translate(-50%);
}

p {
    text-align: left;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    color: rgba(0,0,0,0.871);
  }

  h1{
    font-size: 48px;
    font-family: Arpona, sans-serif;
    font-weight: medium;  font-style: italic;
  }
  h2{
		font-family: 'Puffin Display Soft', sans-serif;
		font-style: normal;
		font-size: 42px;
    color: #9E2818;
  }
  h3 {
    font-family: 'Puffin Display Soft';
		font-style: normal;
		font-weight: lighter;
		font-size: 32px;
  }

.cta {
    fill: #FCE5E0;
    stroke: #707070;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    position: absolute;
    overflow: visible;
    left: 0px;
    top: 0px;
    font-family: 'Puffin Display Soft', sans-serif;
		font-style: normal;
		font-weight: regular;
		font-size: 42px;

    b{
      font-weight: bold;
    }
}

.testimonial {
  .quote {
    font-family: Arpona, sans-serif;
    font-style: normal;
		font-weight: medium italic;
		font-size: 24px;
  }
  .attribution {
    font-family: Proxima Nova;
		font-style: normal;
		font-weight: lighter;
		color: rgba(0,0,0,0.871);
    font-size:20px;
    .title {
      font-size:24px;
    }
  }
}
